Repository Web-Developers2-0/2025-Practica_Profesionalizante, pull requests merged in 2025-06, with the labels that each got.

#224 Mobile: Nueva seccion de eventos y detalle de cada uno / Correccion de logo en login,registro y pasarela
  mobile/app/src/main/AndroidManifest.xml
  mobile/app/src/main/java/com/example/planetsuperheroes/HomeActivity.java
  mobile/app/src/main/java/com/example/planetsuperheroes/events/Event.java
  mobile/app/src/main/java/com/example/planetsuperheroes/events/EventAdapter.java
  mobile/app/src/main/java/com/example/planetsuperheroes/events/EventDetailActivity.java
  mobile/app/src/main/java/com/example/planetsuperheroes/events/EventsActivity.java
  mobile/app/src/main/res/anim/fade_in.xml
  mobile/app/src/main/res/anim/fade_out.xml
  mobile/app/src/main/res/anim/slide_in_bottom.xml
  mobile/app/src/main/res/anim/slide_out_top.xml
  mobile/app/src/main/res/drawable/animecon.jpg
  mobile/app/src/main/res/drawable/cafevento.jpg
  mobile/app/src/main/res/drawable/comiccon.jpg
  mobile/app/src/main/res/drawable/eternautaevent.jpg
  mobile/app/src/main/res/drawable/logo_blanco.png
  mobile/app/src/main/res/ic_launcher-playstore.png
  mobile/app/src/main/res/layout/activity_checkout.xml
  mobile/app/src/main/res/layout/activity_event_detail.xml
  mobile/app/src/main/res/layout/activity_events.xml
  mobile/app/src/main/res/layout/activity_home.xml
  mobile/app/src/main/res/layout/activity_login.xml
  mobile/app/src/main/res/layout/activity_registro.xml
  mobile/app/src/main/res/layout/item_event.xml
  mobile/app/src/main/res/values/strings.xml
  mobile/gradle.properties
Labels: Mobile

#232 Add notifications for django administration
  backend/Notification/admin.py
Labels: Backend

#244 feat(frontend): add animation for events, related with #21 #22 #23
  frontend/src/app/app.component.html
  frontend/src/app/app.component.ts
  frontend/src/app/shared/transition-overlay/transition-overlay.component.css
  frontend/src/app/shared/transition-overlay/transition-overlay.component.html
  frontend/src/app/shared/transition-overlay/transition-overlay.component.ts
Labels: Web, Frontend, User Experience

#245 feat: enhanced WhatsApp button behavior for better usability #162 #16…
  frontend/src/app/shared/footer/footer.component.html
Labels: Web

#252 Docs: [https://github.com/Web-Developers2-0/2025-Practica_Profesional…
  backend/User/views.py
  documentacion/diagramas/Sp-ModeloRelacional.mwb
  documentacion/diagramas/modeloRelacionalDjango.pdf
  documentacion/diagramas/modelo_relacional_planetsuperheroes.mwb
  documentacion/diagramas/modelo_relacional_planetsuperheroes.pdf
Labels: documentation
